body{
    margin:0;
    padding: 0;
    color:black;
    overflow:hidden;
    height:100vh;
    box-sizing:border-box;
    /* width:500px; */
    /* width:90vw;
    border:10px solid red; */

}

html{
    margin:0;
    padding:0
}