.keys{
    color:white;
    width:60px;
    height:60px;
    border-radius:30%;
    box-shadow:6px 7px 2px 2px rgba(0,0,0,0.75);
    margin:15px;
    background: black;
    &:active{
     transform: translate(10px,10px);
     box-shadow:-2px -1px 0px 0px rgba(0,0,0,0.75);    
    }
    font-size:1.2rem;
  }
  
  .keyBoard{
      display:flex;
      justify-content:center;
      width:950px;
      height:auto;
      flex-wrap:wrap;
      position:absolute;
      left:380px;
      border-radius:15%;
      padding:50px;
     
  }

