.keysBefore{
    color:white;
    width:60px;
    height:60px;
    border-radius:30%;
    box-shadow:6px 7px 2px 2px rgba(0,0,0,0.8);
    margin:15px;
    background: black;
    &:active{
     transform: translate(10px,10px);
     box-shadow:-2px -1px 0px 0px rgba(0,0,0,0.8);    
    }
    font-size:1.2rem;
  }
  
  .keyBoard{
      display:flex;
      justify-content:center;
      width:1050px;
      height:auto;
      flex-wrap:wrap;
      position: absolute;
      top:30vh;
      left:380px;
      border-radius:15%;
      padding:50px;
      // border:2px solid black;
     
  }

  .keysAfter{
    color:black;
    width:60px;
    height:60px;
    border-radius:30%;
    margin:15px;
    background: white;
    font-size:1.2rem;
  }

 

  .play_next
  {
    @extend .keysBefore;
    width:120px;
    font-size:1.3rem;
    position:absolute;
    top:10vh;
    left:80vw;
  }