.wordSpace{
    display: flex;
    justify-content: center;
    gap:30px;
    margin:10px;
    margin-left: 40px;
    position: absolute;
    top:20vh;
    left:40vw;
}
.place{
    font-size:3rem;
}

.word{
    font-size:3rem;
    font-weight:bold;
}