.hangman-container{
    stroke:black; 
    stroke-width:8px;
    fill:transparent;
    stroke-linecap: round;
}

.hide{
   opacity:0.2;
}

.hangman-div{
   position:absolute;
   left:0;
   top:0;
}

  
line {
    stroke: black;
    stroke-width: 4;
}
  
