@import "components/hangman.scss";
@import "components/keyboard.scss";
@import "components/word.scss";
@import "components/gameOver.scss";
@import "components/game.scss";

button:hover{
    cursor: pointer;
   
}

button{
    background: black;
    width:auto;
    height:auto;
    color:white;
}



.Title{
    font-family: cursive;
    font-size: 3rem;
    text-decoration: underline;
    font-weight: bold;
}

.lives{
    font-family: cursive;
    font-size: 2rem;
    font-weight: bold;
    margin-left:100px;
}


.names{
    margin-left:500px;
}
.word{
  display:flex;
  width:auto;
  justify-content: center;
}

.start{
    margin-left:35vw;
    margin-top:30vh;
    height:auto;
}


.startButton{
   width:100px;
   height:50px;
   box-shadow:10px 10px 3px 3px gray;
   border-radius:20px;
   background: rgb(152, 128, 240);
   color:white;
   margin-top:50px;
   margin-left:20px;
   font-size:1.5rem;
   &:active{
    transform: translate(10px,10px);
    box-shadow:0px 0px 0px 0px rgba(0,0,0,0.75);    
   }
}

.startTitle{
  font-size:2rem;
}

.hide{
    display: none;
}

.won{
    font-size:2rem;
    position: relative;
    top:10px;
    left:30vw;
    text-decoration: underline;
}


.input{
    border:2px solid black;
    width:200px;
    height:40px;
}